[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
webdriver-manager = "*"
pytest = "*"
pytest-bdd = "*"
sttable = "*"
assertpy = "*"
allure-pytest = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.8"
